
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*scroll ckeditor*/
.ck-editor__editable {
    max-height: 400px;
}


.dl-horizontal dt {
    white-space: normal;
}

#group-tour:hover .dropdown-menu {
    display: block;
}

#group-price:hover .dropdown-menu {
    display: block;
}

.ptcus-110 {
    padding-top: 110px;
}

.btn-none:focus {
    outline: none !important;
    box-shadow: none;
}

.destination {
    position: relative;
    height: 350px;
}

.destination-name {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-weight: 500;
}

/*css hotel over view*/
.hotels {
    position: relative;
    height: 250px;
}

    .hotels::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 75%;
        background: -moz-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);
        background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);
        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.65) 100%);
        z-index: 1;
        pointer-events: none;
    }

.hotels-name {
    position: absolute;
    top: 210px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    text-align: center;
    width: 100%;
    z-index:99;
}

    .hotels-name > p {
        color: aliceblue;
    }

/*css tour over view*/
.tours {
    height: 300px;
}

.tour-image {
    height: 60%;
}
.tour-detail {
    height: 40%;
}
.box-positon {
    position: absolute;
    top: 81%;
    background-color: rgba(0,0,0, 0.4);
    color:white;
    padding: 5px;
}

/*css title see more*/
.seemore a{
    color: black;
    text-decoration: none;
}
.seemore:hover .link{
    color: crimson;
    
}


/*css footer*/
.wrapper_cus ul {
    list-style: none;
}

.socail_links ul{
    display:flex;
    padding:0;
}

.socail_links li{
    margin: 0 10px;
}

/*css custom form add destination*/
.gr-parent{
    position:relative;
}

.sub-gr-destiantion{
    position:absolute;
    top:70%;
}