
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#group-tour:hover .dropdown-menu {
    display: block;
}
.ptc-60 {
    padding-top: 80px;
}

.btn-none:focus {
    outline:none !important;
    box-shadow: none;
}

.destination {
    position: relative;
    height: 350px;
}

.destination-name {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-weight: 500;
}