@{
    ViewBag.Title = "Contact - Let's go";
}
<div>
    <p>THÔNG TIN CƠ BẢN</p>
</div>

<div>
    <address>
        <p>Tên công ty: Công ty du lịch Huyền Trang</p>
        <p>Đại diện: Nguyễn Đình Huy</p>
        <p>
            <abbr title="Phone">Phone:</abbr>
            425.555.0100
        </p>
        <p>Địa chỉ: Số 298 đường Cầu Diễn, quận Bắc Từ Liêm, Hà Nội</p>
        <div class="irs-footer-contact">
            <a href="//shorturl.at/jFGIN">
                <img src="https://www.haui.edu.vn/dnn/web/haui/assets/images/map.webp" alt="Bản đồ Công ty" width="250" height="150">
            </a>
        </div>
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:meowmeow@gmail.com">meowmeow@travel.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:huyentrangtour@gmail.com">huyentrangtour@gmail.com</a>
    </address>
</div>
