@model IEnumerable<TourManagement.Models.DBContext.Hotel>
@{
    ViewBag.Title = "Danh sách khách sạn";
    
}

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("HotelOverView", item);
    }
</div>