@model TourManagement.Models.DBContext.Hotel

<div class="col-4 py-3">
    <div class="hotels animate__animated animate__zoomIn">
        <a class="h-100" href="@Url.Action("Details", "Hotels", new { id =Model.Id})">
            <img src="~/Content/images/hotels/@Model.Image" class="h-100 w-100" alt="@Model.Name">
            <div class="hotels-name">
                <div>
                    @for(int i=0; i<5; i++)
                    {
                        <img src="~/Content/images/star.svg" height="10" width="10"/>
                    }
                </div>
                <p>@Model.Name</p>
            </div>
        </a> 
    </div>
</div>